fastapi
uvicorn[standard]
pydantic
python-multipart

pdfplumber
pytesseract
pdf2image
scikit-learn
numpy
pandas
regex
python-docx
Pillow
opencv-python-headless

langchain-openai
langchain-core
langchain-classic
openai

mysql-connector-python